:root {
    --d-grey: #b5b5b5;
    --l-grey: #c3c3c3;
    --white: #ffffff;
    --d-blue: #00006b;
    --teal: #005454;
    --pink: #ff0081;
    --out-box: 3px 3px inset rgba(255, 255, 255, 0.5),
    -2.5px -2.5px inset rgba(0, 0, 0, 0.8);
    --button-focus-box: 2.5px 2.5px inset var(--pink),
    -3px -3px inset rgba(0, 0, 0, 0.8);
    --in-box-focus: 2.5px 2.5px inset var(--pink),
    -3px -3px inset rgba(150, 150, 150, 0.5);
    --in-box: 2.5px 2.5px inset rgba(0, 0, 0, 0.8),
    -3px -3px inset rgba(150, 150, 150, 0.5);
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    place-content: center;
    background-color: var(--teal);
}

input[type="text"], input[type="number"] {
    all: unset;
}

label {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-weight: 600;
    margin: 0 0.5rem;
}

textarea {
    /* unset default styles */
    border: none;
    outline: none;
    /* custom styles */
    width: 90%;
    height: 100px;
    font-size: 1.15rem;
    padding: 0.25rem;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: var(--in-box);
    transition: box-shadow 0.2s ease-in-out;
    margin: 0 0.5rem 0.5rem;

}

textarea:focus, input:focus {
    box-shadow: var(--in-box-focus);
}

button {
    all: unset;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin: 0.5rem 0.25rem;
    box-shadow: var(--out-box);
}

button:focus {
    box-shadow: var(--button-focus-box);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    background-color: var(--d-grey);
    box-shadow: var(--out-box);
    padding: 0 0.5rem;
}

#scribe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.704);
    z-index: 1000;
}

#scribe * {
    position: absolute;
    width: max(50%, 540px);
    height: max(80%, 680px);
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#card-header {
    width: 94%;
    font-size: 0.9rem;
    background-color: var(--d-blue);
    color: var(--white);
    box-shadow: 0 0 0 2px black;
    padding: 0.2rem 1rem;
    margin: 0.5rem 0.2rem;
}

#user-label {
    font-weight: 600;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
}


#user-input {
    width: 100px;
    height: 2rem;
    font-size: 1.1rem;
    padding: 0.25rem;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: var(--in-box);
    transition: box-shadow 0.2s ease-in-out;
    margin: 0.5rem 0.5rem;
    cursor: text;
}

#user-input:focus {
    box-shadow: var(--in-box-focus);
}

#user-button {
    scale: 0.8;
}

#tutorial-button {
    scale: 0.8;
    margin-left: auto;
    display: flex;
}

#tutorial-button:hover {
    cursor: pointer;
}

#tutorial-button span {
    display: grid;
    place-items: center;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 2px;
}

#question-container {
    width: 90%;
    margin: 2rem 0 0;
    padding: 1rem;
    box-shadow: var(--out-box);
    position: relative;
}

#filter-container {
    position: absolute;
    transform: translate(-0.5rem,calc(-100% - 1rem));
}

#filter-container button {
    margin: 0 1px;
    border-radius: 2px;
    box-shadow: none;
    border-right: 2px solid black;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);

}

.tab {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 0 0 var(--d-grey) !important;


}

#answers-container {
    margin: 0.5rem 0;
    position: relative;
}

.answers-container-qa {
    height: 470px;
}

.answers-container-qa textarea {
    height: 400px;
}

#answers-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    top: -5px;
    box-shadow: 1px 1px white;

}

#answers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0;

}

#answer-textarea-qa {
    height: 640px;
}


input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--white);
    color: black;
    width: 1.8em;
    height: 1.8em;
    box-shadow: var(--in-box);
    /* border-radius: 50%; */
    outline: none;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    /* border-radius: 50%; */
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--teal);
    /* Windows High Contrast Mode */
    background-color: green;
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}

#question-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#question-buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#question-verified {
    margin-right: auto;
    display: flex;
    align-items: center;
}

#verified-slider {
    margin-left: 5px;
    display: flex;
    width: 64px;
    height: 24px;
    background-color: var(--white);
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: var(--in-box);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#verified-slider-switch {
    width: 50%;
    height: calc(100% - 4px);
    transform: translateX(0%);
    background-color: #e3c793;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 0 1px black;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}


#verified-slider-switch:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px var(--pink);
}


#buttons-card-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buttons-card-nav button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



button:active {
    box-shadow: var(--in-box);
}

#card-index {
    display: flex;
    align-items: center;
}

#card-index-current {
    margin: 0 0.5rem;
    background-color: var(--white);
    padding: 0.25rem 0.5rem;
    box-shadow: var(--in-box);
    width: 35px;
}

#card-index-total {
    margin: 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}